@{
    ViewData["Title"] = "Home Page";
}

<h2>سیستم مدیریت پرسنل</h2>

<ul>
    <li><a href="@Url.Action("Index", "Persons")">Persons</a></li>
    <li><a href="@Url.Action("Index", "DynamicFields")">Dynamic Fields</a></li>
</ul>
