@{
    ViewData["Title"] = "Home Page";
}

<h2>سیستم مدیریت پرسنل</h2>

<ul>
    <li><a href="@Url.Action("Index", "Person")">پرسنل</a></li>
    <li><a href="@Url.Action("Index", "DynamicFields")">تعریف فیلد</a></li>
</ul>
